{% extends 'templates/_document.twig' %}

{% block content %}
  <main class="page page-blog">
    <h1>{{ post.title }}</h1>
    {# Content is managed by ACF field group "Blog Page" – output fields as needed #}
  </main>
{% endblock %}
