{% extends 'base.twig' %}

{% block content %}
    <article class="page">
        <header class="entry-header">
            <h1 class="entry-title">{{ post.title }}</h1>
        </header>
        <div class="entry-content">
            {{ post.content }}
        </div>
    </article>
{% endblock %}
