{% extends 'base.twig' %}

{% block content %}
    <article class="post post--single">
        <header class="entry-header">
            <h1 class="entry-title">{{ post.title }}</h1>
            <time class="entry-date" datetime="{{ post.date('c') }}">{{ post.date }}</time>
        </header>
        <div class="entry-content">
            {{ post.content }}
        </div>
    </article>
{% endblock %}
